{{ define "title" }} Chat {{ end }}

{{ define "stylesheets"}}<link rel="stylesheet" href="/public/css/chat.css" />{{end }}

{{ define "content" }} 

<div class="chat">
  <div class="sidebar">
    <div class="sidebar__header head">
      <h2 class="sidebar__title">My Rooms</h2>
    </div>
  </div>
  <div class="chat__main">
    <div class="chat__header head">
      <div></div>
      <div></div>
      <button class="btn btn-danger" id="leave-room">Leave room</button>
    </div>
    <div class="chat__body body">
      <ul id="messages" class="chat__messages"></ul>
      <div class="chatarea__footer">
        <form class="chat__form" id="chatbox" role="form">
          <input type="text" id="message" />
          <button type="submit" class="btn btn-light" disabled>Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }} 

{{ define "scripts" }}
<script>
$(function () {
  var socket = null;
  var $msgTextInput = $('#chatbox input');
  var $messageList = $('#messages');
  var $sendButton = $('#chatbox button');

  $msgTextInput.on('focusin focusout input', function (e) {
    if (!e.target.value) {
      $sendButton.attr('disabled', 'disabled');
    } else {
      $sendButton.removeAttr('disabled');
    }
  });

  $('#chatbox').submit(function () {
    if (!$msgTextInput.val()) return false;
    if (!socket) {
      alert('Error: There is no socket connection.');
      return false;
    }
    var message = $msgTextInput.val();
    socket.send(JSON.stringify({ message: message }));
    $msgTextInput.val('');
    return false;
  });

  if (!window['WebSocket']) {
    alert('Error: Your browser does not support web sockets.');
    return;
  }
  socket = new WebSocket('ws://{{.Host}}/ws');

  socket.onclose = function (e) {
    var retries = 5;
    if (e.code === 1001) return false;
    var error = $('<em>').text(
      'Seems you are having trouble with your connection...'
    );
    $messageList.append(error);
  };

  var formatMessage = function (message) {
    var htmlTag = $('<span>');
    var text = message ;
    if (message.startsWith('/')) {
      text = message.substring(1);
      htmlTag = $('<strong>');
    } else if (message.startsWith('_') && message.endsWith('_')) {
      text = message.substring(1, message.length - 1);
      htmlTag = $('<em>');
    } else if (message.startsWith('*') && message.endsWith('*')) {
      text = message.substring(1, message.length - 1);
      htmlTag = $('<strong>');
    } else if (message.startsWith('~') && message.endsWith('~')) {
      text = message.substring(1, message.length - 1);
      htmlTag = $('<del>');
    }else {
      text = message
    }
    return htmlTag.text(text);
  };

  var scrollToBottom = function () {
    var newMessage = $messageList.children('li:last-child');
    var clientHeight = $messageList.prop('clientHeight');
    var scrollTop = $messageList.prop('scrollTop');
    var scrollHeight = $messageList.prop('scrollHeight');
    var newMessageHeight = newMessage.innerHeight();
    var lastMessageHeight = newMessage.prev().innerHeight();
    var viewport =
      clientHeight + scrollTop + newMessageHeight + lastMessageHeight;
    if (viewport >= scrollHeight) {
      $messageList.scrollTop(scrollHeight);
    }
  };

  socket.onmessage = function (e) {
    var data = JSON.parse(e.data);
    var $message = $("<li class='message'>");
    var time = new Date(data.when);
    var formattedTime = moment(time).format('h:mm a');

    $messageList.append(
      $message.append(
        $('<img>')
          .attr('title', data.from)
          .css({
            borderRadius: '50%',
            width: 50,
            verticalAlign: 'middle',
          })
          .attr('src', data.avatarURL),
        $('<div>')
          .addClass('message__title')
          .append(
            $('<strong>').text(data.from),
            $('<span>').text(formattedTime)
          ),
        $('<div>').addClass('message__body').append(formatMessage(data.message))
      )
    );

    scrollToBottom();
  };
});
</script>
{{ end }}
