{{ define "title" }} Chat {{ end }}

{{ define "stylesheets"}}<link rel="stylesheet" href="/public/css/chat.css" />{{end }}

{{ define "content" }} 

<div class="chat">
  <div class="sidebar">
    <div class="sidebar__header head">
      <h2 class="sidebar__title">My Rooms</h2>
    </div>
  </div>
  <div class="chat__main">
    <div class="chat__header head">
      <div></div>
      <div></div>
      <button id="leave-room">Leave room</button>
    </div>
    <div class="chat__body body">
      <ul id="messages" class="chat__messages"></ul>
      <div class="chatarea__footer">
        <form class="chat__form" id="chatbox" role="form">
          <input type="text" id="message" />
          <button type="submit" class="btn btn-light" disabled>Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }} 

{{ define "scripts" }}
<script>
var _$ = function(){
  var messages = $('#messages')
  var newMessage = messages.children('li:last-child')

  var clientHeight = messages.prop('clientHeight')
  var scrollTop = messages.prop('scrollTop')
  var scrollHeight = messages.prop('scrollHeight')
  var newMessageHeight = newMessage.innerHeight()
  var lastMessageHeight = newMessage.prev().innerHeight()
  var viewport = clientHeight + scrollTop + newMessageHeight + lastMessageHeight
  if ( viewport >= scrollHeight){
    messages.scrollTop(scrollHeight)
  }
}
</script>

<script>
$(function () {
  var socket = null;
  var msgBox = $('#chatbox input');
  var messages = $('#messages');
  var sendButton = $('#chatbox button');
  
  msgBox.on('focusin focusout input', function (e) {
    if (!e.target.value) {
      sendButton.attr('disabled', 'disabled');
    } else {
      sendButton.removeAttr('disabled');
    }
  });

  $('#chatbox').submit(function () {
    if (!msgBox.val()) return false;
    if (!socket) {
      alert('Error: There is no socket connection.');
      return false;
    }
    var message = msgBox.val()
    socket.send(JSON.stringify({ message: message }));
    msgBox.val('');
    return false;
  });

  if (!window['WebSocket']) {
    alert('Error: Your browser does not support web sockets.');
    return
  }
  socket = new WebSocket('ws://{{.Host}}/ws');
  
  socket.onclose = function (e) {
    if (e.code === 1001) return false;
    var error = $('<em>').text("Seems you are having trouble with your connection...")
    $('#messages').append(error)
  };
  
  socket.onmessage = function (e) {
    var msg = JSON.parse(e.data);


     var messagesBox = $('#messages')
  var message = $("<li class='message'>")
  var time = new Date(msg.when);
  var formattedTime = moment(msg.when).format('h:mm a');
  var rawText = msg.message;
  var $msgText = $('<span>');
  if (rawText.startsWith('/')) {
    msg.message = rawText.substring(1);
    $msgText = $('<strong>');
  } else if (rawText.startsWith('_') && rawText.endsWith('_')) {
    msg.message = rawText.substring(1, rawText.length - 1);
    $msgText = $('<em>');
  } else if (rawText.startsWith('*') && rawText.endsWith('*')) {
    msg.message = rawText.substring(1, rawText.length - 1);
    $msgText = $('<strong>');
  } else if (rawText.startsWith('~') && rawText.endsWith('~')) {
    msg.message = rawText.substring(1, rawText.length - 1);
    $msgText = $('<del>');
  }
  if (msg.from === "Admin"){
    message.addClass("admin-message")
  }




     messagesBox.append(
    message.append(
      $('<img>')
        .attr('title', msg.from)
        .css({
          borderRadius: '50%',
          width: 50,
          verticalAlign: 'middle',
        })
        .attr('src', msg.avatarURL),
      $('<div>')
        .addClass('message__title')
        .append(
          $('<strong>').text(msg.from),
          $('<span>').text(formattedTime)
        ),
      $('<div>')
        .addClass('message__body')
        .append($msgText.text(msg.message))
    )
  );
    if (msg.from === 'Admin') return false;
  }
});
</script>
{{ end }}
