{{ define "title" }}Join a room to meet people and start chatting {{ end }}

{{ define "inline_styles"}}
<style type="text/css">
	button {
		font-size: 1.6rem !important;
	}
	#create-btn {
		margin: 1rem;
	}
</style>
{{ end }}

{{ define "content" }}
<div class="container">
    {{if .user }}
   <p class="alert alert-sucess"> Hello {{.user.Name}} </p>
    {{ end }}
    <ul>
    {{ range .rooms }}
     <li>{{.Name}}</li>
    {{ else }}
    <p class="info">No room available. </p>
    {{end}}
     </ul>

 {{ template "create_form.html" .}}
</div>
{{ end }}
