{{ define "title" }} Shitty chatter {{ end }}

{{ define "stylesheets"}}
<link rel="stylesheet" href="/public/css/chat.css" />
{{end }}

{{ define "content" }}
{{ if .user }}
{{ $is_present := .user.IsParticipant .room }} 
<div style="min-height:100vh;">
  <div class="bg-dark text-white row col-md-12 m-0 justify-content-center align-items-center" style="height:12vh;">
      <p class="text-right ml-auto font-weight-bold"> Hello {{.user.Name}}</p>
      {{ if $is_present }}
      <p class="text-right ml-auto"><button class="btn btn-danger" id="leave-room">Leave room</button></p>
      {{ end }}
  </div>

  <div class="row col-md-12 m-0 p-0" style="height:88vh;">
    {{ template "sidebar" .}}
    <div class="col-md-9 m-0 p-0 d-flex flex-column justify-content-between">
      <ul id="messages" class="chat-messages m-0 p-0 pl-3"></ul>
      <div class="chatarea__footer">
      {{ if $is_present }}
        <form class="chat__form" id="chatbox" role="form">
          <input type="text" id="message" />
          <button type="submit" class="btn btn-primary" disabled>Send</button>
        </form>
      {{ else }}
      <form action="/room/join" method="POST">
        <input type="hidden" name="code" value="{{ .room.Invite }}">
        <input type="hidden" name="id" value="{{ .room.ID }}">
         <p><button class="btn btn-success btn-block">Join</button></p>
      </form>
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ else }}
<p> Sign up or login</p>
{{ end }}

{{ end }}


{{ define "scripts" }}
<script>
$(function () {
  var socket = null;
  var $msgTextInput = $('#chatbox input');
  var $messageList = $('#messages');
  var $sendButton = $('#chatbox button');

  $msgTextInput.on('focusin focusout input', function (e) {
    if (!e.target.value) {
      $sendButton.attr('disabled', 'disabled');
    } else {
      $sendButton.removeAttr('disabled');
    }
  });

  $('#chatbox').submit(function () {
    if (!$msgTextInput.val()) return false;
    if (!socket) {
      alert('Error: There is no socket connection.');
      return false;
    }
    var message = $msgTextInput.val();
    socket.send(JSON.stringify({ message: message }));
    $msgTextInput.val('');
    return false;
  });

  if (!window['WebSocket']) {
    alert('Error: Your browser does not support web sockets.');
    return;
  }
  socket = new WebSocket('ws://{{.request.Host}}/ws/{{.room.ID}}');

  socket.onclose = function (e) {
    var retries = 5;
    if (e.code === 1001) return false;
    var error = $('<em>').text(
      'Seems you are having trouble with your connection...'
    );
    $messageList.append(error);
  };

  var formatMessage = function (message) {
    var htmlTag = $('<span>');
    var text = message ;
    if (message.startsWith('/')) {
      text = message.substring(1);
      htmlTag = $('<strong>');
    } else if (message.startsWith('_') && message.endsWith('_')) {
      text = message.substring(1, message.length - 1);
      htmlTag = $('<em>');
    } else if (message.startsWith('*') && message.endsWith('*')) {
      text = message.substring(1, message.length - 1);
      htmlTag = $('<strong>');
    } else if (message.startsWith('~') && message.endsWith('~')) {
      text = message.substring(1, message.length - 1);
      htmlTag = $('<del>');
    }else {
      text = message
    }
    return htmlTag.text(text);
  };

  var scrollToBottom = function () {
    var newMessage = $messageList.children('li:last-child');
    var clientHeight = $messageList.prop('clientHeight');
    var scrollTop = $messageList.prop('scrollTop');
    var scrollHeight = $messageList.prop('scrollHeight');
    var newMessageHeight = newMessage.innerHeight();
    var lastMessageHeight = newMessage.prev().innerHeight();
    var viewport =
      clientHeight + scrollTop + newMessageHeight + lastMessageHeight;
    if (viewport >= scrollHeight) {
      $messageList.scrollTop(scrollHeight);
    }
  };

  socket.onmessage = function (e) {
    var data = JSON.parse(e.data);
    var $message = $("<li class='message'>");
    var time = new Date(data.when);
    var formattedTime = moment(time).format('h:mm a');

    $messageList.append(
      $message.append(
        $('<img>')
          .attr('title', data.from)
          .css({
            borderRadius: '50%',
            width: 50,
            verticalAlign: 'middle',
          })
          .attr('src', data.avatarURL),
        $('<div>')
          .addClass('message__title')
          .append(
            $('<strong>').text(data.from),
            $('<span>').text(formattedTime)
          ),
        $('<div>').addClass('message__body').append(formatMessage(data.message))
      )
    );

    scrollToBottom();
  };
});
</script>
{{ end }}