{{ define "base" }}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>{{ block "title" . }} Shitty chatter {{ end }}</title>
		<link
			href="/public/css/bootstrap/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="/public/css/fontawesome/css/all.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/public/css/base.css">
		{{ block "stylesheets" .}} {{end}}
		{{ block "inline_styles" .}} {{ end }}
	</head>
	<body>
        {{ with .messages }}
        {{ template "flash-message.html" .}}
        {{ end }}
		{{ block "content" . }}
		    <p>This is default</p>
		{{ end }}
		<script src="/public/js/lib/jquery.min.js"></script>
		<script src="/public/js/lib/moment.min.js"></script>
		<script src="/public/js/lib/bootstrap/bootstrap.min.js"></script>
		{{block "scripts" .}} {{ end }}
	</body>
</html>{{ end }}
