{{ define "inline_styles" }}
<style type="text/css">
	li {
		list-style: none;
		margin-bottom: 5px;
	}
</style>
{{ end }}
<div class="mt-2">
	<ul>
		<li>
			<a class="btn btn-primary" href="/auth/login/facebook">
			<i class="fab fa-facebook"></i>
			{{.}} with Facebook</a>
		</li>
		<li>
			<a class="btn btn-dark px-3" href="/auth/login/github">
			<i class="fab fa-github"></i>
			<span>{{.}} with GitHub</span></a>
		</li>
		<li>
			<a class="btn btn-light px-3" href="/auth/login/google">
			<i class="fab fa-google"></i>
			{{.}} with Google</a>
		</li>
	</ul>
</div>
