.my-message {
	text-align: right;
}
.admin-message {
	font-style: italic;
}

.chat__messages {
	padding: 1.2em;
	overflow-y: scroll;
	height: 90%;
}

.chat__form {
	background: #000;
	padding: 0.5em;
	width: 100%;
	display: flex;
}
.chat__form input {
	display: block;
	margin-right: 0.5em;
	border: 0;
	width: 90%;
	padding: 0.5em;
}
.chat__form button {
	width: 10%;
	border: none;
}

.chat__form button:disabled {
	cursor: default;
}

.chat-messages {
}
.chat-messages li {
	padding: 0 0.5em;
	margin-bottom: 0.2em;
	list-style-type: none;
}
.chat-messages li:nth-child(odd) {
	background: #eee;
}

.chat-messages li img {
	margin-right: 0.5em;
}

.message__title {
	margin-bottom: 0.5em;
}

.message__title span {
	color: #999;
	font-style: italic;
	padding: 0, 0.2em;
	margin-left: 0.2em;
}

@media (max-width: 45em) {
	.chat__form {
		flex-direction: column;
	}
	.chat__form button {
		width: 100%;
		margin-top: 0.5em;
	}

	.chat__form input {
		width: 100%;
		margin: 0;
	}
}
