body {
	display: flex;
	height: 100vh;
}

.my-message {
	text-align: right;
}
.admin-message {
	font-style: italic;
}
.head {
	display: flex;
	height: 7%;
	padding: 0.5em;
	align-items: center;
}

.body {
	display: flex;
	height: 93%;
	flex-direction: column;
	padding: 1em;
	border: 1px solid #eee;
}

.chat {
	display: flex;
	width: 100vw;
}

.sidebar {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.sidebar__header {
	text-align: center;
}

.sidebar__title {
	width: 100%;
	margin: 0;
}

.sidebar li {
	margin-bottom: 0.5em;
	list-style: none;
}
.sidebar li a {
	padding: 1em;
	display: block;
}
.sidebar li a:hover {
	background-color: #999;
}

.sidebar li .selected {
	background: blue;
}

.chat__main {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.chat__header button {
	margin-left: auto;
}

.chat__messages {
	padding: 1.2em;
	overflow-y: scroll;
	height: 90%;
}

.chat__form {
	background: #000;
	padding: 0.5em;
	width: 100%;
	display: flex;
}
.chat__form input {
	display: block;
	margin-right: 0.5em;
	border: 0;
	width: 90%;
	padding: 0.5em;
}
.chat__form button {
	width: 10%;
	background: rgb(130, 224, 255);
	border: none;
}
#messages {
	margin: 0;
	padding: 0;
}
.chat__messages li {
	padding: 0 0.5em;
	margin-bottom: 0.2em;
	list-style-type: none;
}
.chat__messages li:nth-child(odd) {
	background: #eee;
}

.chat__messages li img {
	margin-right: 0.5em;
}

.message__title {
	margin-bottom: 0.5em;
}

.message__title span {
	color: #999;
	font-style: italic;
	padding: 0, 0.2em;
	margin-left: 0.2em;
}

@media (max-width: 45em) {
	.sidebar {
		display: none;
	}
	.chat__main {
		width: 100%;
	}
	.chat__form {
		flex-direction: column;
	}
	.chat__form button {
		width: 100%;
		margin-top: 0.5em;
	}

	.chat__form input {
		width: 100%;
		margin: 0;
	}
}
